<div class="container">
  <div class="container-actions">
    <form [formGroup]="coordinateForm" class="form">
      <mat-form-field appearance="fill">
        <mat-label>Latitude</mat-label>
        <input matInput type="number" formControlName="latitude" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Longitude</mat-label>
        <input matInput type="number" formControlName="longitude" />
      </mat-form-field>
    </form>

    <button [disabled]="!coordinateForm.valid" (click)="create()" mat-flat-button>Créer une position gps</button>
    <button (click)="findAllCoordinate()" mat-flat-button>Voir la liste</button>
  </div>

</div>
