<div class="container">
  <div class="container-actions">
    <form [formGroup]="coordinateForm" class="form">
      <mat-form-field>
        <mat-label>Latitude</mat-label>
        <input formControlName="latitude" type="number" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Longitude</mat-label>
        <input formControlName="longitude" type="number" matInput>
      </mat-form-field>
    </form>

    <button [disabled]="!coordinateForm.valid" (click)="create()" mat-flat-button>Créer une position gps</button>
    <button (click)="findAllCoordinate()" mat-flat-button>Voir la liste</button>
  </div>

</div>
